<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>2 Col Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="css/pricing.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/navbar.css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav th:replace="navbar::navbar"></nav>

<!-- Page Content -->
<div class="pricing">
    <table id="price-table" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Service</th>
            <th>Price</th>
            <th class="admin"></th>
        </tr>
        </thead>
        <tbody id="price-body">
        </tbody>

    </table>
    <div sec:authorize="hasRole('ROLE_ADMIN')"  id="admin-tab" class="add-tab">
        <input type="button" class="btn btn-success" value="Add service" id="add-class-btn"/>
    </div>
</div>
<!-- Footer -->
<footer th:replace="home::home-foot"></footer>

<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>


    $(function () {
        loadJSONPricing();
        $('#add-class-btn').click(function () {
            $('div.add-tab')
                .append($('<div></div>')
                    .attr('id', 'add-service-div')
                    .append($('<input/>')
                        .attr('type', 'text')
                        .attr('id', 'new-service-name')
                        .attr('placeholder', 'Service name')
                    )
                    .append($('<input/>')
                        .attr('type', 'number')
                        .attr('placeholder', 'price')
                        .attr('id', 'new-service-price')
                        .attr('step', '0.01')
                    )
                    .append(function () {
                        return $('<input/>')
                            .attr('type', 'button')
                            .attr('value', 'Add')
                            .attr('id', 'add-btn')
                    })

                    .append(function () {
                        return $('<input/>')
                            .attr('type', 'button')
                            .attr('value', 'Cancel')
                            .attr('id', 'cancel-btn')
                    }));

            $('div.add-tab').on('click', '#cancel-btn', cancelAdd);
            $('div.add-tab').on('click', '#add-btn', addService);
        })
    });

    function cancelAdd() {
        $('#add-service-div').remove();
    }

    function addService() {
        var newService = {};
        newService.name = $('#new-service-name').val();
        newService.price = $('#new-service-price').val();
        $.ajax({
            type: 'POST',
            url: '/new-service',
            data: JSON.stringify(newService),
            dataType: 'json',
            contentType: 'application/json',
            success: function (returnService) {
                $('#price-body').append($('<tr></tr>')
                    .addClass('my-row')
                    .append($('<th></th>')
                        .attr('scope', 'row')
                        .text($('#price-body').children().length + 1))
                    .append($('<td></td>')
                        .text(returnService.name))
                    .append($('<td></td>')
                        .text(returnService.price))
                    .append($('<td></td>')
                        .append($('<input/>')
                            .attr('type', 'button')
                            .attr('value', 'Delete')
                            .attr('class','btn-danger')
                            .onclick(function (a) {

                            }))))
            }
        });

        $('#add-service-div').remove();
    }


    function loadJSONPricing() {
        $.ajax({
            type: 'GET',
            url: '/get-pricing',
            data: 'json',
            success: function (pricing) {
                loadDOMPricing(pricing);
            }
        });
    }


    function loadDOMPricing(pricing) {
        $.each(pricing, function (i, price) {
            var name = price.name;
            var cost = price.price;

            $('#price-body').append($('<tr></tr>')
                .addClass('my-row')
                .append($('<th></th>')
                    .attr('scope', 'row')
                    .text(i + 1))
                .append($('<td></td>')
                    .text(name))
                .append($('<td></td>')
                    .text(cost))
                .append($('<td></td>')
                    .addClass('admin')
                    .append($('<td></td>')
                        .append($('<input/>')
                            .attr('type', 'button')
                            .attr('value', 'Delete')
                            .attr('class','btn-danger')
                            .attr('id', 'add-btn')
                            .on('click',function (a) {
                               var k = $(this).parents()[2];
                               var nameDOM = $(k).children()[1];
                               var name  = $(nameDOM).text();
                                $.ajax({
                                    type: 'DELETE',
                                    url: '/delete-service',
                                    data: name
                                });
                               $(k).remove();
                            })))))
            if($('#admin-tab').length == 0){
                $('.admin').remove();
            }
        });
    }

</script>

</body>

</html>
